body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: #0f0f0f;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  color: white;
}

/* КАРТОЧКА */
.card {
  width: 320px;
  padding: 25px;
  border-radius: 22px;

  background: linear-gradient(135deg, #1b1b1b, #2a2a2a);

  box-shadow: 0 20px 60px rgba(0,0,0,0.6);

  text-align: center;
}

/* TIER */
.tier {
  font-size: 12px;
  letter-spacing: 2px;
  opacity: 0.6;
  margin-bottom: 10px;
}

/* ИМЯ */
.name {
  font-size: 22px;
  font-weight: 600;
  margin-bottom: 15px;
}

/* СКИДКА */
.discount {
  font-size: 48px;
  font-weight: bold;
  color: gold;
  margin-bottom: 20px;
}

/* QR блок */
.qr {
  background: white;
  padding: 12px;
  border-radius: 12px;
  display: inline-block;
}