body{
  margin:0;
  background:#111;
  color:white;
  font-family:Arial;
}

.card{
  margin:20px;
  padding:30px;
  border-radius:25px;
  background:linear-gradient(135deg,#1f1f1f,#333);
  text-align:center;
}

.status{
  margin-top:20px;
  font-size:22px;
  color:gold;
}

.discount{
  margin-top:10px;
  font-size:40px;
  font-weight:bold;
}

canvas{
  margin-top:30px;
}